{% extends "lobby/base.html" %}
{% block title %}Log-in{% endblock %}
{% block body %}
{% load static %}



    <button type="button" id="btn_new_game" class="btn btn-primary">Главный</button>
    <button type="button" id="btn_in_lobby_games" class="btn btn-secondary" disabled>Вторичный</button>
    <button type="button" id="btn_started_games" class="btn btn-secondary">Вторичный</button>
    <div class="list_games_wrapper">

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'lobby/js/get_list.js' %}"></script>
{% endblock %}