{% extends 'main/base.html' %}

{% block title %}
главная
{% endblock %}


{% block body %}
{% load static %}

    <div class="w-50 container-fluid d-flex justify-content-center align-items-center p-0">
        <div class="board-wrapper">
            <img src="{% static 'main/img/chess.svg' %}" class="rounded mx-auto d-block board">
        </div>
    </div>

    <div class="color_label_wrapper">
        <h1 class="your_color">Ваш цвет:</h1>
    </div>
    <div class="ready_button_wrapper">
        <button type="button" class="btn btn-dark btn_ready" id="btn_ready_self">Темный</button>
    </div>


{% endblock %}