.login{
    position: absolute;
    width: 7.3%;
    height: 5%;
    left: 47.4%;
    top: 24.1%;
    background: #414141;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 250%;
    line-height: 15%;
    z-index: 3;
    color: #ffffff;
    border-radius: 0%;
}
.ramka{
    position: absolute;
    width: 26%;
    height: 64.8%;
    left: 37%;
    top: 11%;

    background: #414141;
    border-radius: 40px;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.back_image_login{
    box-sizing: border-box;

    position: absolute;
    width: 87.5%;
    height: 100%;
    left: 6.25%;
    top: 0%;

    border: 1px solid #000000;
    z-index: 1;
}

.input_{
    box-sizing: border-box;
    width: 14.58%;
    height: 3.7%; 
    background: rgba(112, 112, 112, 0.37);
    border: 1px solid #02C67F;
    border-radius: 8px;
    z-index: 3;
}
.user_input{
    position: absolute;
    left: 42.3%;
    top: 33.8%;
    z-index: 3;
}
.password_input{
    position: absolute;
    left: 42.3%;
    top: 49%;
    z-index: 3;
}
.reg_button{
    position: absolute;
    width: 6.56%;
    height: 2.4%;
    left: 46.7%;
    top: 71.5%;

    background: #5C5C5C;
    border-radius: 5px;
    z-index: 3;
}
/* a{
    position: absolute;
    width: 5.31%;
    height: 1.66%;
    left: 48.3%;
    top: 72%;
    z-index: 4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 60%;
    color: #25E7A1;

} */
#enter_btn{
    position: absolute;
    width: 11.46%;
    height: 6.48%;
    left: 44.2%;
    top: 60%;
    background: #5C5C5C;
    border-radius: 12px;
    z-index: 3;

}
.button1{
    position: absolute;
    width: 60%;
    height: 40%;
    left: 18%;
    top: 27%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 200%;
    line-height: 50%;
    z-index: 4;
    color: #D2FFF7;
    background-color: #5C5C5C;
    border-left: 0in;
    border-top: 0in;
    border-bottom: 0in;
    border-right: 0in;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.username_label{
    position: absolute;
    width: 2%;
    height: 1.39%;
    left: 42.8%;
    top: 31.8%;
    z-index: 4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 60%;
    color: #FFFFFF;
}
.password_label{
    position: absolute;
    width: 2%;
    height: 1.39%;
    left: 42.8%;
    top: 46.9%;
    z-index: 4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 60%;
    color: #FFFFFF;
}
.list_games_wrapper{
    position: absolute;
    transform: translate(50%, 0%);
    right: 50%;
    width: 80%;
    height: fit-content;
    border: 2px solid black;
}

.one_game_wrapper{
    position: relative;
    margin: 20px;
    height: 100px;
    border: 2px solid black;
}

.player_in_wrapper{
    width:250px;
    margin: 5px 15px;
}

.btn_join_game{
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(0%, -50%);
}

.btn_join_spectator{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(0%, -50%);
}

.room_wrapper{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 2px solid black;
    height: 400px;
    width: 90%;
    display: flex;
}

.player_wrapper{
    border: 2px solid black;
    width: 30%;
    margin: 20px;
    padding: 30px;
}